*.aux
*.log
*.pdf
*.gz
*.h5
*.binaryproto
cifar10_test_lmdb/
cifar10_train_lmdb/
data/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.h5
